<header class='masthead mb-auto'>
    <div class='inner'>
        <h3 class='masthead-brand'>CookUni</h3>
        <nav class='nav nav-masthead justify-content-center'>
            <a class='nav-link' href='#'>Home</a>
            <a class='nav-link' href='#'>Welcome, {{names}}!</a>
            <a class='nav-link' href='#'>Share recipe</a>
            <a class='nav-link' href='#'>Logout</a>
            <a class='nav-link' href='#'>Login</a>
            <a class='nav-link' href='#'>Register</a>
        </nav>
    </div>
</header>