<div
    id='rooter'
    class='cover-container w-100 d-flex h-100 p-3 mx-auto flex-column'
>
    <header class='masthead mb-auto'>
        <div class='inner'>
            <h3 class='masthead-brand'>CookUni</h3>
            <nav class='nav nav-masthead justify-content-center'>
                <a class='nav-link' href='#'>Home</a>
                <a class='nav-link' href='#'>Welcome, {{names}}!</a>
                <a class='nav-link' href='#'>Share recipe</a>
                <a class='nav-link' href='#'>Logout</a>
                <a class='nav-link' href='#'>Login</a>
                <a class='nav-link' href='#'>Register</a>
            </nav>
        </div>
    </header>

    {{! Template start }}

    {{! Template end }}
    <footer class='mastfoot mt-5 text-center text-light'>
        <div class='inner'>
            <p>Made with &hearts; by <a href='#/home'>CookUni</a>.</p>
        </div>
        <i class='fa fa-heart'></i>
    </footer>
</div>