<div
    id='rooter'
    class='cover-container w-100 d-flex h-100 p-3 mx-auto flex-column'
>
    <header class='masthead mb-auto'>
        <div class='inner'>
            <h3 class='masthead-brand'>CookUni</h3>
            <nav class='nav nav-masthead justify-content-center'>
                <a class='nav-link' href='/home'>Home</a>
                <a class='nav-link' href='/signin'>Login</a>
                <a class='nav-link' href='/signup'>Register</a>
            </nav>
        </div>
    </header>

    {{! Template start }}
    <main role='main' class='inner cover mt-5'>
        <h1 class='cover-heading'>Coooooking University</h1>
        <p class='lead'>
            They say that food passes through the stomach, we say that food
            passes through CookUni...
        </p>
    </main>
    {{! Template end }}
    <footer class='mastfoot mt-5 text-center text-light'>
        <div class='inner'>
            <p>Made with &hearts; by
                <a href='/home'>CookUni</a>.</p>
        </div>
        <i class='fa fa-heart'></i>
    </footer>
</div>