<div
    id='rooter'
    class='cover-container w-100 d-flex h-100 p-3 mx-auto flex-column'
>
    <header class='masthead mb-auto'>
        <div class='inner'>
            <h3 class='masthead-brand'>CookUni</h3>
            <nav class='nav nav-masthead justify-content-center'>
                <a class='nav-link' href='http://localhost:4000/home'>Home</a>
                <a
                    class='nav-link'
                    href='http://localhost:4000/signin'
                >Login</a>
                <a
                    class='nav-link'
                    href='http://localhost:4000/signup'
                >Register</a>
            </nav>
        </div>
    </header>

    {{! Template start }}
    <div id='notifications'>
        <div
            id='successBox'
            class='alert successBox alert-success'
            role='alert'
        >
            <p class='success-message'></p>
        </div>
        <div id='loadingBox' class='alert loadigBox alert-info' role='alert'><p
                class='loading-message'
            ></p></div>
        <div id='errorBox' class='alert alertBox alert-danger' role='alert'>
            <p class='error-message'></p>
        </div>
    </div>

    <form class='text-center p-5 form-layout' action='#' method='POST'>
        <p class='h4 mb-4'>Sign in</p>

        <input
            type='text'
            id='defaultRegisterFormUsername'
            name='username'
            class='form-control mb-4'
            placeholder='Username'
        />

        <input
            type='password'
            id='defaultRegisterFormPassword'
            name='password'
            class='form-control'
            placeholder='Password'
        />
        <hr />

        <button class='btn btn-danger w-25 m-auto my-4 btn-block' type='submit'>
            Sign in
        </button>
    </form>
    {{! Template end }}
    <footer class='mastfoot mt-5 text-center text-light'>
        <div class='inner'>
            <p>Made with &hearts; by <a href='#/home'>CookUni</a>.</p>
        </div>
        <i class='fa fa-heart'></i>
    </footer>
</div>
<script src='../styles/signin.js'></script>